<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Touring</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="images/egypt-2019-logo.png" type="image/x-icon"/>

</head>
<body>
    <!-- Navigation Bar Section-->
    <nav class="navbar navbar-expand-lg navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBarToggle" aria-controls="myNavBarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <i class="fas fa-ellipsis-v"></i>
                  </span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="images/egypt-2019-logo.png" alt="Logo">
                </a>
              
                <div class="collapse navbar-collapse" id="myNavBarToggle">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                      <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link " href="before-visit.html">Before Your Visit</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="matches.html">Match Schedule</a>
                      </li>
                  </ul>
                </div>
            </div>
    </nav>
    <div class="before-visiting-egypt">
        <div class="container">
            <h2 class="text-center">Things you should know before visiting egypt</h2>
            <h3>Currency</h3>
            <br>
            <p class="lead">
               Egypt’s national currency is the Egyptian Pound, which comes in denominations of 1, 5, 10, 20, 50, 100, and 200 pound (geneh) notes. The smaller denominations, both in coin and paper form, are 25 and 50 Piasters (ersh), with 100 Piasters to every 1 Egyptian Pound.
            </p>
            <p class="lead">
                The currency depicts the country’s ancient and very rich heritage, including Ramses II on the 50 Piaster note and the temples of Abu Simbel on the 1 Pound note.
            </p>
            <p class="lead">
                Currency is readily available throughout the country with currency exchanges in just about every hotel and airport, as well as banks that can be easily navigated to using a simple Google search.
            </p>
            <p class="lead">
                There is a foreign currency limit of approximately $10,000 (or its equivalent) and a local currency limit of 5,000 Egyptian Pounds that can be brought in or taken out of the country.
            </p>
            <br>
            <h3>Customs</h3>
            <br>
            <p class="lead">
                Upon entering the Arab Republic of Egypt, travelers should be aware of the following:
            </p>
            <ul>
                <li>
                  <p class="lead">
                      Each traveler can only have a maximum of one liter of alcoholic drinks and 200 cigarettes, 25 cigars, or 200 grams of Tobacco.
                    </p>  
                </li>
                <li>
                   <p class="lead">
                       Goods not exceeding more than $200 from the duty-free shops within one month of arrival may be exempted from customs along with all personal effects, as long as it is for personal use.
                    </p> 
                </li>
                <li>
                    <p class="lead">
                        All firearms, including sporting guns, narcotics, drugs, cotton, and poultry are prohibited
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Precious items purchased in Egypt, such as Gold and Silver, can only be exported in small quantities if it is clear it is for personal use.
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Certified government health certificates are required in the event a traveler is accompanied by their pet, and is open to additional inspection by local veterinarians.
                    </p>
                </li>
            </ul>
            <h3>Transportation</h3>
            <h5>Railway</h5>
            <br>
            <p class="lead">
                Covering a more limited network from Cairo to Alexandria, the Delta and the Canal Zone, along the coast to Marsa Matrouh and up the Nile Valley to Luxor and Aswan, Egypt’s air-conditioned trains are great for the long haul, providing a comfier alternative to travelling by road. Schedules and fares are posted on the Egyptian Railways website (enr.gov.eg), where you can also buy tickets online. The most comfortable option is first class, with waiter service, reclining armchairs and on-board movies. Seats are reserve-able up to seven days in advance, but you should be wary that return tickets can’t necessarily be booked at the point of origin. If you’re looking for absolute luxury, then opt for the more expensive sleeper cars. Passengers get a comfortable two-bed cabin with a sink, plus breakfast and dinner, and access to a dining car and a bar.
                By Bus
            </p>
            <br>
            <p class="lead">
                    For those who prefer to traverse via asphalt, Egypt’s three main bus companies, all based in Cairo, provide another alternative. The Upper Egypt Bus Company, which travels to Nile Valley, Fayoum, inner oases and the Red Sea Coast down to El-Quseir, the East Delta Bus Company, which travels to Sinai and the Canal Zone, and the West and Middle Delta Bus Company, which travels to Alexandria, Marsa Matrouh, Siwa and the Nile Delta. Other key routes including Cairo to Alexandria, Sharm el-Sheikh, Hurghada, Dahab and El Gouna are also covered by independent bus companies.   
            </p>
            <h3>Service Taxis</h3>
            <br>
            <p class="lead">
                Collective service taxis (servees) are one of the best features of Egyptian transport. Operating on every route imaginable, these taxis are faster and cheaper than trains and buses, but are definitely for the more experienced traveler. The taxis are either seven-seater saloons or microbuses seating a dozen. Ask around in the terminal or listen for drivers shouting out your desired destination. As soon as its full, the taxi sets off. Although it can be used for long journeys, such as from Cairo to Alexandria, this mode of transportation is best for shorter distances, especially between beach towns or to major attractions outside of Cairo.
            </p>
            <br>
            <h3>City transport</h3>
            <br>
            <p class="lead">
                The less populated locales in Egypt are usually easily covered on foot. In larger cities, however, local transport is useful. Learn to recognize Arabic numerals to take full advantage of the cheap buses, minibuses and trams that cover most of Alexandria and Cairo, which also have river taxis and an excellent metro/subway system.
            </p>
            <br>
            <p class="lead">
                Egypt’s kingly selection of thrill imbued enterprises has an equally splendid variety of transportation options that cater to each and every traveler. Whether you want see it from above the clouds or from the vantage point of a hitchhiker, there are as many ways to discover Egypt as your creativity will allow.
            </p>
        </div>
    </div>
<!--  
  =======================================================================
                    Scroll to top
  =======================================================================
-->
<div class="text-center" id="scroll-top">
        <i class="fa fa-angle-up fa-2x"></i>
    </div>
         
<!--  
    =======================================================================
                        Scroll to top end
    =======================================================================
-->
<!--  
    =======================================================================
                        SCRIPTS 
    =======================================================================
-->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>