<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Touring</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="images/egypt-2019-logo.png" type="image/x-icon"/>

</head>
<body>
    <!-- Navigation Bar Section-->
    <nav class="navbar navbar-expand-lg navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBarToggle" aria-controls="myNavBarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <i class="fas fa-ellipsis-v"></i>
                  </span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="images/egypt-2019-logo.png" alt="Logo">
                </a>
              
                <div class="collapse navbar-collapse" id="myNavBarToggle">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                      <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="before-visit.html">Before Your Visit</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="matches.html">Match Schedule</a>
                      </li>
                  </ul>
                </div>
                </div>
              </nav>
    <!-- Navigation Bar Section-->
    <div class="container text-center">
        <h1>TOTAL AFRICA CUP OF NATIONS, EGYPT 2019</h1>
        <h3>Select Your Team To See Matches Schedule</h3>
    </div>
<!--  
=======================================================================
                Teams & Schedule
=======================================================================
-->

<div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Group A
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                    <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Day</th>
                                <th scope="col" colspan="2">Opponents</th>
                                <th scope="col">Stadium</th>
                                <th scope="col">Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">22 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                    Egypt
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                    Zimpapwe
                                </td>
                                <td>Cairo Stadium</td>
                                <td>22:00 PM</td>
                              </tr>
                              <tr>
                                <th scope="row">22 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                    RD Congo
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                    Uganda
                                </td>
                                <td>Cairo Stadium</td>
                                <td>22:00 PM</td>
                              </tr>
                              <tr>
                                <th scope="row">26 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                    Egypt
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                    RD Congo
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                              </tr>
                              <tr>
                                <th scope="row">26 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                    Zimpapwe
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                    Uganda
                                </td>
                                <td>Cairo Stadium</td>
                                <td>21:00 PM</td>
                              </tr>

                              <tr>
                                <th scope="row">30 June</th>
                                 <td>
                                    <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                    Egypt
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                    Uganda
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">30 June</th>
                                    <td>
                                        <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                        Zimpapwe
                                    </td>
                                    <td>
                                        <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                        RD Congo
                                    </td>
                                    <td>Cairo Stadium</td>
                                    <td>20:00 PM</td>
                                </tr>
                            </tbody>
                    </table>         
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Group B
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Day</th>
                            <th scope="col" colspan="2">Opponents</th>
                            <th scope="col">Stadium</th>
                            <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">21 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/nigeria.jpg" alt="egypt flag">
                                Nigeria
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/borondi.jpg" alt="Zimpapwe flag">
                                Burundi
                            </td>
                            <td>Alexandria Stadium</td>
                            <td>TBD</td>
                            </tr>
                            <tr>
                            <th scope="row">21 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/ghenia.jpg" alt="RD Congo flag">
                                Guinea			
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/madghashkar.jpg" alt="Ughanda flag">
                                Madagascar
                            </td>
                            <td>Alexandria Stadium</td>
                            <td>TBD</td>
                            </tr>
                            <tr>
                            <th scope="row">25 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/madghashkar.jpg" alt="egypt flag">
                                Madagascar
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/borondi.jpg" alt="RD Congo flag">
                                Burundi
                            </td>
                            <td>Alexandria Stadium</td>
                            <td>TBD</td>
                            </tr>
                            <tr>
                            <th scope="row">25 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/nigeria.jpg" alt="Zimpapwe flag">
                                Nigeria
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ghenia.jpg" alt="Ughanda flag">
                                Guinea
                            </td>
                            <td>Alexandria Stadium</td>
                            <td>TBD</td>
                            </tr>

                            <tr>
                            <th scope="row">29 June</th>
                                <td>
                                <img class="team-flag" src="images/teams/madghashkar.jpg" alt="egypt flag">
                                Madagascar	
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/nigeria.jpg" alt="Ughanda flag">
                                Nigeria
                            </td>
                            <td>Alexandria Stadium</td>
                            <td>TBD</td>
                            </tr>
                            <tr>
                                <th scope="row">29 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/ghenia.jpg" alt="Zimpapwe flag">
                                    Guinea
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/borondi.jpg" alt="RD Congo flag">
                                    Burundi
                                </td>
                                <td>Alexandria Stadium</td>
                                <td>TBD</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Group C
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                 <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Day</th>
                        <th scope="col" colspan="2">Opponents</th>
                        <th scope="col">Stadium</th>
                        <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">21 June</th>
                        <td>
                            <img class="team-flag" src="images/teams/algeria.jpg" alt="egypt flag">
                            Algeria	
                        </td>
                        <td>
                            <img class="team-flag" src="images/teams/kenya.jpg" alt="Zimpapwe flag">
                            Kenya
                        </td>
                        <td>Cairo Stadium</td>
                        <td>17:00 PM</td>
                        </tr>
                        <tr>
                        <th scope="row">21 June</th>
                        <td>
                            <img class="team-flag" src="images/teams/senegal.jpg" alt="RD Congo flag">
                            Senegal	
                        </td>
                        <td>
                            <img class="team-flag" src="images/teams/tanzania.jpg" alt="Ughanda flag">
                            Tanzania
                        </td>
                        <td>Cairo Stadium</td>
                        <td>20:00 PM</td>
                        </tr>
                        <tr>
                        <th scope="row">25 June</th>
                        <td>
                            <img class="team-flag" src="images/teams/senegal.jpg" alt="egypt flag">
                            Senegal	
                        </td>
                        <td>
                            <img class="team-flag" src="images/teams/algeria.jpg" alt="RD Congo flag">
                            Algeria
                        </td>
                        <td>Cairo Stadium</td>
                        <td>20:00 PM</td>
                        </tr>
                        <tr>
                        <th scope="row">25 June</th>
                        <td>
                            <img class="team-flag" src="images/teams/tanzania.jpg" alt="Zimpapwe flag">
                            Tanzania
                        </td>
                        <td>
                            <img class="team-flag" src="images/teams/kenya.jpg" alt="Ughanda flag">
                            Kenya
                        </td>
                        <td>Cairo Stadium</td>
                        <td>20:00 PM</td>
                        </tr>

                        <tr>
                        <th scope="row">29 June</th>
                            <td>
                            <img class="team-flag" src="images/teams/tanzania.jpg" alt="egypt flag">
                            Tanzania	
                        </td>
                        <td>
                            <img class="team-flag" src="images/teams/algeria.jpg" alt="Ughanda flag">
                            Algeria
                        </td>
                        <td>Cairo Stadium</td>
                        <td>20:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">29 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/kenya.jpg" alt="Zimpapwe flag">
                                Kenya
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/senegal.jpg" alt="RD Congo flag">
                                Senegal
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>

        <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Group D
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                       <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col" colspan="2">Opponents</th>
                                <th scope="col">Stadium</th>
                                <th scope="col">Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">21 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                    Egypt
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                    Zimpapwe
                                </td>
                                <td>Cairo Stadium</td>
                                <td>17:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">21 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                    RD Congo
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                    Uganda
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">25 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                    Egypt
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                    RD Congo
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">25 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                    Zimpapwe
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                    Uganda
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                            </tr>

                            <tr>
                                <th scope="row">29 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                    Egypt
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                    Uganda
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">29 June</th>
                                    <td>
                                        <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                        Zimpapwe
                                    </td>
                                    <td>
                                        <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                        RD Congo
                                    </td>
                                    <td>Cairo Stadium</td>
                                    <td>20:00 PM</td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
                </div>
              </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Group E
                </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col" colspan="2">Opponents</th>
                            <th scope="col">Stadium</th>
                            <th scope="col">Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">21 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                Egypt
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                Zimpapwe
                            </td>
                            <td>Cairo Stadium</td>
                            <td>17:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">21 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                RD Congo
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                Uganda
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">25 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                Egypt
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                RD Congo
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">25 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                Zimpapwe
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                Uganda
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>

                        <tr>
                            <th scope="row">29 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                Egypt
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                Uganda
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">29 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                    Zimpapwe
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                    RD Congo
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Group F
                </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col" colspan="2">Opponents</th>
                            <th scope="col">Stadium</th>
                            <th scope="col">Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">21 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                Egypt
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                Zimpapwe
                            </td>
                            <td>Cairo Stadium</td>
                            <td>17:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">21 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                RD Congo
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                Uganda
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">25 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                Egypt
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                RD Congo
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>
                        <tr>
                            <th scope="row">25 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                Zimpapwe
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                Uganda
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                        </tr>

                        <tr>
                            <th scope="row">29 June</th>
                            <td>
                                <img class="team-flag" src="images/teams/egypt.png" alt="egypt flag">
                                Egypt
                            </td>
                            <td>
                                <img class="team-flag" src="images/teams/ughanda.jpg" alt="Ughanda flag">
                                Uganda
                            </td>
                            <td>Cairo Stadium</td>
                            <td>20:00 PM</td>
                            </tr>
                            <tr>
                                <th scope="row">29 June</th>
                                <td>
                                    <img class="team-flag" src="images/teams/zimpapwi.jpg" alt="Zimpapwe flag">
                                    Zimpapwe
                                </td>
                                <td>
                                    <img class="team-flag" src="images/teams/rd-congo.jpg" alt="RD Congo flag">
                                    RD Congo
                                </td>
                                <td>Cairo Stadium</td>
                                <td>20:00 PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>


<!--  
=======================================================================
                Scroll to top
=======================================================================
-->
    <div class="text-center" id="scroll-top">
        <i class="fa fa-angle-up fa-2x"></i>
    </div>
         
<!--  
    =======================================================================
                        Scroll to top end
    =======================================================================
-->
<!--  
    =======================================================================
                        SCRIPTS 
    =======================================================================
-->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>